.sea {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.scroll {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.rum {
  position: absolute;
  right: 550px;
  left: 950px;
  top: 223px;
  bottom: 608px;
}
